.login-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-inputs{
    width: 314px;
    height: 300px;
    border: 1px solid #063c7a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login-inputs input{
    padding: 10px;
    width: 87%;
    border: 0.5px solid #063c7a;
    outline: none;
    margin: 10px;
}
.login-inputs button {
    width: 30%;
    padding: 10px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #063c7a;
}
.login-inputs span{
    color: red;
}