.card-container{
    display: flex;
    padding:5px;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
}
.cards{
    width: 265px;
    border: 1px solid #063c7a;
    padding: 10px;
}
.img img{
    width: 243px;
}
.details p{
    font-size: 22px;
}
.details button{
    padding: 10px;
    background-color: #063c7a;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 31%;
    margin-top: 12px;
}