.attendance-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 54px;
}
.attendance{
    width: 350px;
    height: 100px;
    border: 1px solid #063c7a;
}
.attendance input{
    margin: 26px 20px;
    padding: 10px;
    border: 0.5px solid #063c7a;
}
.attendance button{
    padding: 10px;
    border: none;
    background-color: #063c7a;
    color: white;
}
.attendance-list{
    width: 350px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    padding-left: 14px;
    padding-right: 14px;
    border: 0.5px solid #063c7a;
}
.attendance-list h3{
    font-size: 22px;
    font-weight: 500;
}
.attendance-list p{
    font-size: 11px;
    font-weight: 500;
}