.navbar{
    width: 100%;
    height: 80px;
    background-color: #063c7a;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left{
    display: flex;
    gap: 10px;
    margin-right: 13px;
}
.left h3{
    font-size: 20px;
    border: 1px solid;
    padding: 5px;
    cursor: pointer;
}