.table-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.table-container table {
    border: 1px solid;
    margin-top: 90px;
  }

.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #063c7a;
    width: 446px;
    height: 433px;

}
.add-students-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-students-wrapper input{
    padding: 10px;
    margin-top: 10px;
    border: 0.5px solid #063c7a;
}
.inputs button{
    padding: 5px;
    border: none;
    color: white;
    background-color: #063c7a;
    width: 37%;
    margin-top: 10px;
}
.inputs select{
    margin-top: 10px;
}
  